<nav class="breadcrumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul id="breadcrumbs">
    {{!-- Commenting out component title in breadcrumbs, it is redundant
          if this is uncommented, item and ellipsis spans *must* be added in the <li>
    {{#with page.componentVersion}}
    {{#if (and ./title (not (or ./root (eq ./title @root.page.breadcrumbs.0.content))))}}
    <li><a href="{{{relativize ./url}}}">{{{./title}}}</a></li>
    {{/if}}
    {{/with}}
    --}}
    {{#each page.breadcrumbs}}
    <li>
    <span class="item">
    {{~#if (and ./url (eq ./urlType 'internal'))~}}
    <a href="{{{relativize ./url}}}">{{{./content}}}</a>
    {{~else~}}
    {{{./content}}}
    {{~/if~}}
    </span>
    <span class="ellipsis" title="{{{./content}}}"></span>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</nav>
