<div class="nav-panel-search">
  <input class="searchbox" placeholder="Search documentation" />
</div>
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{> header-links }}
    {{#if page.navigation}}
    <h3 class="title"><a href="{{relativize page.componentVersion.url}}">{{page.component.title}}</a></h3>
{{> nav-tree navigation=page.navigation breadcrumbs=page.breadcrumbs}}
    {{else}}
    <h3 class="title"><a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a></h3>
    {{/if}}
  </nav>
</div>
