.codeTools {
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
  margin-right: 0.2em;
  color: #808080;
  opacity: 0;
}

.listingblock:hover .codeTools {
  opacity: 1;
}

.copyButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 1em;
  height: auto;
  border: 0;
  background-color: none;
}

.copyToast {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  margin-top: 1.7em;
  background-color: #333;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0.55, 0.6, 1);
  transition-duration: 150ms;
  pointer-events: none;
}

.copyToast::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1rem;
  height: 1rem;
  border: 0.65em solid transparent;
  border-left-color: #333;
  transform: rotate(-90deg) translateX(50%) translateY(50%);
  transform-origin: left;
}
