.toolbar {
  color: var(--toolbar-font-color);
  align-items: center;
  background-color: var(--toolbar-background);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
  display: flex;
  font-size: calc(15 / var(--rem-base) * 1rem);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 5px;
  border: 2px solid var(--nav-container-button-border-color);
  border-radius: 5px;
  z-index: var(--z-index-nav-container-button);
  background-color: var(--nav-container-button-background-color);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

#nav-container-toggle:checked ~ .nav-toggle {
  background-color: var(--nav-container-button-active-background-color);
}

#nav-container-toggle {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

#nav-container-toggle:checked ~ main > .toolbar > .nav-toggle {
  background-image: url(../img/x.svg);
}

#nav-container-toggle:checked ~ main > .toolbar > .nav-toggle .show {
  display: none;
}

#nav-container-toggle:checked ~ main > .toolbar > .nav-toggle .hide {
  display: inline;
}

.home-link {
  background: url(../img/home-o.svg) no-repeat 50% 45%;
  background-size: 50%;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home.svg);
}

.edit-this-page {
  display: none;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-muted-color);
}
